.circle-back {
    position: relative;
    width: 450px;
    height: 450px;
    border-radius: 50%;
    background-color: black;
    box-shadow: 0px 0px 12px rgba(0,0,0, .3);
    z-index: 1;
}

.circle-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 400px;
    background: black;
    border-radius: 50%;
    overflow: hidden;
}

.spicchio {
    position: absolute;
    top: 0;
    right: 50%;
    transform-origin: 100% 100%;
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.green {
    background: green;
    transform: rotate(5deg) skew(10deg);
}

.red {
    background: red;
    transform: rotate(95deg) skew(10deg);
}

.yellow {
    background: yellow;
    transform: rotate(185deg) skew(10deg);
}

.blue {
    background: blue;
    transform: rotate(275deg) skew(10deg);
}

.spicchio > a {
    display: block;
    position: absolute;
    height: 200px;
    width: 200px;
    transform: skew(-10deg) rotate(-70deg) scale(1);
    border-radius: 50%;
    text-align: center;
    padding-top: 2em;    
    font-size: 1.2em;    
    bottom: -100px;
    right: -100px;
    text-decoration: none;
    background-color: black;    
    color: white;
}

.bar {
    position: absolute;
    background-color: black;
    z-index: 10;
}

.bar--horizontal {
    width: 95%;
    height: 40px;
}

.bar--vertical {
    width: 40px;
    height: 95%;
}