/* General */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #ddd;
    font-family: 'Montserrat', sans-serif;
    color: #333;
}

#app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

/* Main */
.circle-back {
    position: relative;
    width: 450px;
    height: 450px;
    border-radius: 50%;
    background-color: black;
    box-shadow: 0px 0px 12px rgba(0,0,0, .3);
    z-index: 1;
    transition: transform 15s;
    transition-delay: 1s;
    animation: rotate 200ms;
}

.circle-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 400px;
    background: black;
    border-radius: 50%;
    overflow: hidden;
}

.spicchio {
    position: absolute;
    top: 0;
    right: 50%;
    transform-origin: 100% 100%;
    width: 200px;
    height: 200px;
    overflow: hidden;
    cursor: pointer;
}

.green {
    background: #2AB243;
    transform: rotate(5deg) skew(10deg);
}

.red {
    background: #E71D2B;
    transform: rotate(95deg) skew(10deg);
}

.yellow {
    background: #F3CA4A;
    transform: rotate(185deg) skew(10deg);
}

.blue {
    background: #00AFE4;
    transform: rotate(275deg) skew(10deg);
}

.spicchio > a {
    display: block;
    position: absolute;
    height: 200px;
    width: 200px;
    transform: skew(-10deg) rotate(-70deg) scale(1);
    border-radius: 50%;
    text-align: center;
    padding-top: 2em;    
    font-size: 1.2em;    
    bottom: -100px;
    right: -100px;
    text-decoration: none;
    background-color: black;    
    color: white;
}

.bar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: black;
    z-index: 10;
}

.bar--horizontal {
    width: 95%;
    height: 40px;
}

.bar--vertical {
    width: 40px;
    height: 95%;
}

.spicchio.active {
    background: white;
}

#game-display {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 130px;
    height: 100px;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
    background-color: black;
    z-index: 11;
    font-family: 'Courier Prime', sans-serif;
    font-size: 30px;
    text-align: center;
}

#label {
    color: white;
}

.fall {
    transform: translateY(1200px);
}

header,
footer {
    padding: 20px;
}

@keyframes rotate {
    0,
    100% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(360deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(360deg);
    }
}